html {
  box-sizing: border-box;
  background-color: var(--primary-color);
  font-family: 'Poppins';
  font-size: 16px;
  color: var(--text-color);
}

* {
  margin: 0;
  padding: 0;
}

::selection {
  background:var(--brand-color);
  color:var(--text-color);
}

:root {
  --primary-color:#0C1014;
  --secondary-color:#182026;
  --tertiary-color: #1F2A32;

  --brand-color:#b11827;
  --dark-brand-color:#651f26;
  --text-color: #DAE2E4;
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
}

.navbar-alert {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  background-color: var(--dark-brand-color);
}

.navbar-main {
  display: flex;
  width: auto;
  height: 60px;
  background: rgba(12,16,19,0.75);
  z-index: 1000;
}

.navbar-main__list {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  list-style: none;
}

.navbar-main__list-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-item__menu-button {
 
}

.list-item__menu-logo {
  margin-left: 32px;
  margin-right: 32px;
}

.list-item__menu-item {
  width: auto;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .15rem;
  font-size: 16px;
}

.list-item__menu-item-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  transition: ease-in-out 0.4ms;
  padding: 16px;
}

a.navbar-main__link {text-decoration:none;position: relative;display: flex;justify-content: center;align-items: center;transition:all 200ms ease;}
a.navbar-main__link:link {color:var(--text-color);}
a.navbar-main__link:visited {color: none;}
a.navbar-main__link:hover {color:var(--brand-color)}
a.navbar-main__link:active {color: none;}

.navbar__button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 60px;
  height: 100%;
  background-color: transparent;
  border: 0;
  color: var(--text-color);
  cursor: pointer;
  transition: ease-in-out 0.4s;
  padding: 16px;
}

.navbar__button:hover {
  color: var(--brand-color);
}

.side-nav-main {
  position: fixed;
  content: '';
  width: 100vw;
  height: 100%;
}










.hero-small-main {
  position: absolute;
  width: 100%;
  height: 600px;
  top: 0;
  left: 0;
  content: '';
  background-image: linear-gradient(to bottom,transparent 0%,transparent 66.6%,#0c1013 100%);
}
.hero-small-main::after {
  position: absolute;
  width: 100%;
  height: 600px;
  top: 0;
  left: 0;
  content: '';
  background-image: url(verrucktmain.jpg);
  background-size: cover;
  background-position: center;
  opacity: 0.4;
  z-index: -1;
}